In [ ]:
#   Put_DW_in_csv
#   -------------------

    #   Objectif : récuperer les tables du DW et mettre en csv pour faire PowerBI sur les CSV
    #   Raison : PowerBI corrompu pour accéder les tables du SQL server

In [1]:
import pandas as pd 
import numpy as np 

import requests as rq
from sqlalchemy import create_engine,text,Float,Integer,String

{dbms}://{server_name}/master?trusted_connection=yes&driver={driver}'

In [2]:
dbms = 'mssql+pyodbc'
server_name = r'E6K-VDI1614\TFTIC'
driver = 'ODBC+driver+17+for+SQL+Server'

create_db_string = f'{dbms}://{server_name}/master?trusted_connection=yes&driver={driver}'

In [3]:
create_db_engine = create_engine(create_db_string,isolation_level='AUTOCOMMIT')

In [ ]:
#  Databse already create - not applicable here

'''create_query = """
IF NOT EXISTS (SELECT [name] FROM sys.databases
				WHERE [name] = 'meteo')
                     BEGIN
                        CREATE DATABASE meteo
                     END

"""

In [ ]:
create_db_engine.connect()
create_db_engine.connect().execute(text())
create_db_engine.dispose()

TypeError: execute() missing 1 required positional argument: 'statement'

In [29]:
with create_db_engine.connect() as conn :
    conn.execute(text(create_query))

In [5]:
dbms = 'mssql+pyodbc'
server_name = r'E6K-VDI1614\TFTIC'
driver = 'ODBC+driver+17+for+SQL+Server'
database = 'BeerProfileReviewDW'

insert_string = f'{dbms}://{server_name}/{database}?trusted_connection=yes&driver={driver}'

In [6]:
insert_engine = create_engine(insert_string)

In [ ]:
# typedict = {'Time': String(50),
   #         'Temperature_2m':Float(),
   #          'lat':Float(),
   #         'lon':Float()}

In [7]:
test = pd.read_sql(sql="SELECT * FROM Dim_Beers", con=insert_engine)
test

,SK_Beer,Beer_Id,Beer_Name,Brewery_Name,ABV,Active,Valid_From
0,12932,48215,Black Horse Black Beer,Vecchio Birraio,6,False,2025-04-22 14:37:45.000
1,12933,12386,Caldera OBF 15,Caldera Brewing Company,6,True,2025-04-22 14:37:45.000
2,12934,64883,Cauldron DIPA,Caldera Brewing Company,8,True,2025-04-22 14:37:45.000
3,12935,47969,Sausa Pils,Vecchio Birraio,5,True,2025-04-22 14:37:45.000
4,12936,58046,Rauch Ür Bock,Caldera Brewing Company,7,True,2025-04-22 14:37:45.000
5,12937,52159,Caldera Ginger Beer,Caldera Brewing Company,5,True,2025-04-22 14:37:45.000
6,12938,436,Amstel Light,Amstel Brouwerij B. V.,4,True,2025-04-22 14:37:45.000
7,12939,10789,Caldera Oatmeal Stout,Caldera Brewing Company,7,True,2025-04-22 14:37:45.000
8,12940,47986,Sausa Weizen,Vecchio Birraio,5,True,2025-04-22 14:37:45.000
9,12941,48213,Red Moon,Vecchio Birraio,6,True,2025-04-22 14:37:45.000
10,12942,48215,Black Horse Black Beer,Vecchio Birraio,5,False,2025-04-24 09:24:34.143

In [ ]:
# df.to_sql(name="temperature",con=insert_engine,if_exists='replace',index=False,dtype=typedict)

168

In [ ]:
staging_retrieval_query = "SELECT * FROM Beer_Evaluation_Staging"
DW_Dim_Beers_retrieval_query = "SELECT * FROM Dim_Beers"
DW_Dim_Style_retrieval_query = "SELECT * FROM Dim_Style"
DW_Dim_Reviewer_retrieval_query = "SELECT * FROM Dim_Reviewer"
DW_DimDate_retrieval_query = "SELECT * FROM DimDate"
DW_BeerEval_Facts_retrieval_query  = "SELECT * FROM BeerEval_Facts"

In [ ]:
retrieved_data_staging = pd.read_sql(staging_retrieval_query,con=insert_engine)
retrieved_data_staging

In [ ]:
retrieved_data_Dim_Beers = pd.read_sql(DW_Dim_Beers_retrieval_query,con=insert_engine)
retrieved_data_Dim_Beers

In [ ]:
retrieved_data_Dim_Style = pd.read_sql(DW_Dim_Style_retrieval_query,con=insert_engine)
retrieved_data_Dim_Style

In [ ]:
retrieved_data_Dim_Reviewer = pd.read_sql(DW_Dim_Reviewer_retrieval_query,con=insert_engine)
retrieved_data_Dim_Reviewer

In [ ]:
retrieved_data_BeerEvalFacts = pd.read_sql(DW_BeerEval_Facts_retrieval_query,con=insert_engine)
retrieved_data_BeerEvalFacts

Exercice : Utiliser les deux URL au début du jupyter notebook pour récuperer des données concernant les communes de Bruxelles, ensuite utilisé ces données afin de récuperer la météo des dites communes. Enfin envoyer vos données dans un SQL server. 

Au final nous voulons 2 tables en SQL server sous forme de modèle dimensionnel. 

Bonus : Si vous en avez le temps, connectez vous sur votre modele avec Power BI pour voir si celui ci fonctionne correctement.